:Zone.Identifier
*.Identifier

media/
__pycache__/
db.sqlite3
*.csv

models 1/
output/
output_person/
output_person1/
output_person2/
person/
PDO/
Person_date_output/

*.json
*.pkl

*.spacy
Annotated/

*.config
*.cfg
*.pth
*.sqlite3

media/uploadde_pdfs/
uploaded_pdfs/
output_lr*/