absl-py
annotated-types
asgiref
asttokens
astunparse
blis
Brotli
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
comm
confection
cryptography
curated-tokenizers
curated-transformers
cymem
Cython
debugpy
decorator
Django
easyocr
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
executing
filelock
flatbuffers
fsspec
fuzzywuzzy
gast
google-pasta
grpcio
h5py
huggingface-hub
idna
imageio
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jupyter_client
jupyter_core
keras
langcodes
language_data
lazy_loader
libclang
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
mpmath
murmurhash
namex
nest-asyncio
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python-headless
opt_einsum
optree
packaging
pandas
parso
pdf2image
pexpect
pillow
platformdirs
pluggy
preshed
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyclipper
pycparser
pydantic
pydantic_core
Pygments
PySocks
python-bidi
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
rich
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
setuptools
shapely
shellingham
six
smart-open
spacy
spacy-alignments
spacy-curated-transformers
spacy-legacy
spacy-loggers
spacy-transformers
sqlparse
srsly
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
thinc
threadpoolctl
tifffile
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
truststore
typer
typing_extensions
tzdata
urllib3
wasabi
wcwidth
weasel
Werkzeug
wheel
wrapt
zstandard
